.herosection-container,
.herosection-container,
.herosection-background {
  box-sizing: border-box;
  width: 100%;
}

.herosection-background {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}

.herosection-football {
  position: absolute;
  width: 7.2vw;
  height: fit-content;
  top: 38vw;
  left: 32vw;
  animation: spin 2s linear infinite;
}

.herosection-basketball {
  position: absolute;
  width: 5.2vw;
  height: fit-content;
  top: 24.5vw;
  left: 7.5vw;
  animation: spin 2s linear infinite;
}

.herosection-basketballguy {
  position: absolute;
  width: 30.5vw;
  height: fit-content;
  top: 25vw;
  left: 7.2vw;
}

.herosection-footballguy {
  position: absolute;
  width: 40vw;
  height: fit-content;
  top: 28.9vw;
  left: -6vw;
}

.herosection-badmintonguy {
  position: absolute;
  width: 22.3vw;
  height: fit-content;
  top: 9vw;
  left: -3.5vw;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(72deg);
  }
  40% {
    transform: rotate(144deg);
  }
  60% {
    transform: rotate(216deg);
  }
  80% {
    transform: rotate(288deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.herosection-beam1 {
  position: absolute;
  width: 1.7vw;
  height: fit-content;
  top: 42vw;
  left: 72vw;
  animation: fade 3s ease-in 1s infinite;
}

.herosection-beam2 {
  position: absolute;
  width: 1.4vw;
  height: fit-content;
  top: 43vw;
  left: 76vw;
  animation: fade 3s ease-in infinite;
}

.herosection-beam3 {
  position: absolute;
  width: 2.5vw;
  height: fit-content;
  top: 21vw;
  left: 85vw;
  animation: fade 3s ease-in 500ms infinite;
}

.herosection-beam4 {
  position: absolute;
  width: 2.5vw;
  height: fit-content;
  top: 17.3vw;
  left: 88vw;
  animation: fade 3s ease-in 1s infinite;
}

.herosection-beam5 {
  position: absolute;
  width: 1.7vw;
  height: fit-content;
  top: 32vw;
  left: 69vw;
  animation: fade 3s ease-in 1s infinite;
}

.herosection-clef {
  position: absolute;
  width: 4vw;
  height: fit-content;
  top: 33vw;
  left: 92vw;
  animation: fade 3s ease-in 2s infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateY(-75px);
    opacity: 1;
  }
}

.herosection-hoop1 {
  position: absolute;
  width: 17.5vw;
  height: auto;
  top: 22vw;
  left: 72vw;
  animation: spin 2s linear infinite;
}

.herosection-hoop2 {
  position: absolute;
  width: 2.75vw;
  height: auto;
  top: 35vw;
  left: 90vw;
  animation: spin 2s linear infinite;
}

.herosection-hoop3 {
  position: absolute;
  width: 2vw;
  height: auto;
  top: 15vw;
  left: 92vw;
  animation: spin 2s linear infinite;
}

.herosection-guitar {
  position: absolute;
  width: 11vw;
  height: fit-content;
  top: 41.5vw;
  left: 69.5vw;
  animation: shiver 1s linear infinite;
}

.herosection-keyboard {
  position: absolute;
  width: 6vw;
  height: fit-content;
  top: 31.25vw;
  left: 69.5vw;
  animation: shiver 1s linear infinite;
}

.herosection-tape {
  position: absolute;
  width: 6vw;
  height: fit-content;
  top: 21vw;
  left: 86vw;
  animation: shiver 1s linear infinite;
}

@keyframes shiver {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

.herosection-boy {
  position: absolute;
  width: 17vw;
  height: fit-content;
  top: 12.5vw;
  left: 70vw;
  animation: boy 3s linear infinite;
}

@keyframes boy {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.herosection-girl1 {
  position: absolute;
  width: 10.3vw;
  height: fit-content;
  top: 27.5vw;
  left: 80vw;
  animation: girl1 3s linear infinite;
}

@keyframes girl1 {
  0% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

.ehsaas-block {
  margin: auto;
  max-width: fit-content;
  font-family: "Bigshot One", cursive;
  font-size: 14.47vw;
  color: #e5fcff;
  height: 6vw;
  display: flex;
  position: absolute;
  align-items: center;
  top: 22vw;
  left: 28vw;
  z-index: 5;
}
@media screen and (max-width: 650px) {
  .ehsaas-block {
    height: 2vw;
  }
}
.ehsaas-char {
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.bounce-3 {
  animation-name: bounce-3;
  animation-timing-function: ease;
  text-shadow: -0.43vw 0.489vw #5fc5ff, -1.5177vw 0.489vw #003459;
}

@keyframes bounce-3 {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-6vw);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}
#E {
  animation-delay: 0;
}
#h {
  animation-delay: 200ms;
}
#s {
  animation-delay: 100ms;
}
#a {
  animation-delay: 300ms;
}
#a {
  animation-delay: 500ms;
}
#s {
  animation-delay: 400ms;
}
