@import url("https://fonts.cdnfonts.com/css/kumbh-sans");
.cards {
  font-family: "Kumbh Sans", sans-serif;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* justify-content: center; */
}

.card {
  position: relative;
  width: calc(30.33% - 20px);
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 10px;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}
@media (max-width: 1000px) {
  .card {
    width: calc(45% - 20px);
  }
}

@media (max-width: 480px) {
  .card {
    width: calc(100% - 20px);
  }
}
.card:hover {
  transform: scale(1.05);
}
.card.expanded {
  height: fit-content;
}

.card-image {
  height: 200px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  /* background-color: #002C68; */
  color: white;
  padding: 5px 10px;
  border-radius: 0 0 0.35rem 0.35rem;
}

.card-timing {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  padding: 5px 10px;
}

.card-category {
  position: absolute;
  top: 0;
  right: 0;
  margin: 4px 70px 0px 4px;
  background-color: #00a538;
  color: white;
  padding: 5px 10px;
  border-radius: 0.35rem;
}

.card-day {
  position: absolute;
  top: 0;
  right: 0;
  margin: 4px;
  background-color: #ff2f45;
  color: white;
  padding: 5px 10px;
  border-radius: 0.35rem;
}

.card-description {
  display: none;
  padding: 20px;
  opacity: 70%;
  font-size: 1.25rem;
}

.card.expanded .card-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-addteam {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-addteam > p {
  font-size: 1.25rem;
}

.card-addteam-add {
  display: flex;
  gap: 5px;
}

.card-addteam-input {
  box-sizing: border-box;
  width: 80%;
  height: 2rem;
  padding: 2px 5px;
  font-size: 1.25rem;
  border: 1px solid gray;
  border-radius: 5px;
}

.card-addteam-button {
  background-color: #00a538;
  color: #fff;
  width: 20%;
  height: 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.card-addteam-added {
  font-size: 1rem;
  color: #00a538;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
  }
  .card {
    width: 90%;
    margin: 10px 0;
  }
}
