.image-div > * {
  font-family: "Kumbh Sans", "sans-serif";
}

.image-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.square {
  border: 2px solid black;
  border-radius: 3.6vw;
  width: 45vw;

  @media (max-width: 750px) {
    border-radius: 30px;
    width: 82vw;
  }
}

.disclaimer-text {
  background-color: #fefef7;
  font-size: xx-large;
  width: 46vw;
  border-radius: 3.6vw;
  position: relative;
  left: 1.7vw;
  top: 1.6vw;
  box-sizing: border-box;
  padding: 1.3vw 1.3vw 1vw 1.3vw;

  @media (max-width: 750px) {
    width: 86.3vw;
    border-radius: 30px;
    left: 4vw;
    top: 3vw;
    padding: 3vw;
  }
}

.square-wrapper {
  position: relative;
  flex: 0.44;
  top: 10.3vw;
  left: 5vw;
  width: 44.2vw;
  height: 35.8vw;

  @media (max-width: 750px) {
    top: 20vw;
    left: 5vw;
    height: 110vw;
  }
}

li {
  font-size: 1.5vw;

  @media (max-width: 750px) {
    font-size: 3vw;
  }
}

p,
h1 {
  font-size: 2vw;

  @media (max-width: 750px) {
    font-size: 4vw;
  }
}

.image-div img {
  width: clamp(380px, 45vw, 700px);
  height: clamp(520px, 55vw, 850px);
  margin: 13.7vw auto;
  @media (max-width: 750px) {
    height: 126vw;
    width: 105vw;
    margin: 0;
  }
}
