.image-container {
  display: flex;
  flex-direction: column; 
  padding: 20px; 
  margin: 20px; 

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.image {
  max-width: 100%;
  height: auto; 
  margin: 10px; 
  width: 80vw; 
  transition: width 0.3s; 

  @media (min-width: 768px) {
    width: 40vw; 
  }
}

.left-image {
  order: 1; 
  margin-top:10px;
  margin-left:10px;
  @media (min-width: 768px) {
    order: 0; 
  }
}

.right-image {
  order: 2; 
  position: unset;

  @media (min-width: 768px) {
    position:absolute;
    right:0;
    order: 0; 
  }
}
