.footer {
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  background-color: rgba(67, 220, 192, 0.25);
  backdrop-filter: blur(20px);
  padding: 1vw 2vw;
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Fredoka", sans-serif;
  gap: 30px;
  bottom: 0%;
}

.footer p{
  font-size:large;
}

@media only screen and (max-width: 750px) {
  .footer {
    padding: 4.5vw;
    margin-top: 20.5vw;
    gap: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0%;
  }

  .footer p{
    font-size:small;
  }
}
