.footer {
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  background-color: rgba(67, 220, 192, 0.25);
  backdrop-filter: blur(20px);
  padding: 2vw;
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Fredoka", sans-serif;
  font-size: 1.6vw;
  gap: 30px;
}

@media only screen and (max-width: 600px) {
  .footer {
    padding: 4.5vw;
    margin-top: 20.5vw;
    font-size: 2.3vw;
    gap: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
